<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.minlog.mapper.CoWorkMapper">
    <insert id="oneInsert">
        insert into co_work(co_name, co_position, co_company, co_department, co_password, co_content)
            values (#{coName},#{coPosition},#{coCompany},#{coDepartment},#{coPassword},#{coContent})
    </insert>
    <select id="selectAll" resultType="com.project.minlog.domain.CoWorkVO">
        select co_id,co_name,co_company,co_department,co_position,co_content from  co_work;
    </select>
    <select id="getOne" resultType="com.project.minlog.domain.CoWorkVO">
        select co_id,co_name,co_company,co_department,co_position,co_content from  co_work
            where co_id = #{no};
    </select>
    <select id="getPassword" resultType="com.project.minlog.domain.CoWorkVO">
        select co_id,co_name,co_company,co_department,co_position,co_content from  co_work
        where co_id = #{no} and co_password = #{pw};
    </select>


</mapper>