<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.minlog.mapper.ProMapper">
    <insert id="insertOne" parameterType="com.project.minlog.domain.ProVO" useGeneratedKeys="true"  keyColumn="pro_id" keyProperty="proId">
        insert into pro (pro_title, date_start, date_end, pro_link, pro_git, pro_img, pro_content,pro_info)
        values (#{proTitle},#{dateStart},#{dateEnd},#{proLink},#{proGit},#{proImg},#{proContent},#{proInfo})
    </insert>
    <update id="uploadOne" parameterType="com.project.minlog.domain.ProVO" useGeneratedKeys="true"  keyColumn="pro_id" keyProperty="proId">
        update pro
            set pro_title = #{proTitle},
                date_start = #{dateStart},
                date_end = #{dateEnd},
                pro_link = #{proLink},
                pro_git = #{proGit},
                pro_img = #{proImg},
                pro_content = #{proContent},
                pro_info = #{proInfo},
                pro_status = #{proStatus}
        where pro_id = #{proId}
    </update>

    <select id="selectOne" resultType="com.project.minlog.domain.ProVO">
        select pro_id, pro_title, create_date, date_start, date_end, pro_link, pro_git, pro_img, pro_content,pro_info
        from pro
        where pro_id = #{proId}
    </select>

    <select id="selectList" parameterType="com.project.minlog.domain.ProListSizeVO" resultType="com.project.minlog.domain.ProListVO">
        SELECT pro.pro_id, pro_title, create_date, date_start, date_end, pro_link, pro_git, pro_img, pro_content, pro_info, pro_value
        from pro
                 JOIN (select pro_id, pro_value
                       from pro_type
                       where pro_value = #{proType}
        ) type
                      ON pro.pro_id = type.pro_id
        ORDER BY date_start DESC
        limit  #{pageStart},#{pageEnd};
    </select>
    <select id="selectAllNumber" resultType="integer">
        SELECT count(*)
        from pro
                 JOIN (select pro_id, pro_value
                       from pro_type
                       where pro_value = #{proType}
        ) type
      ON pro.pro_id = type.pro_id
    </select>
</mapper>