@charset "utf-8";
/*==========================================================================
subpage media screen tab & mobile 
==========================================================================*/

@media screen and (max-width:740px) {
    .scroll {display: none;}
    #proList li {width:100%;margin-right: 0;}
    #proList li .pro_img {height:55vw;}
    .subpage_header .tit {font-size:30px}

}
@media screen and (max-width:520px) {
    /* 520 변경 */
    .subpage_header {padding:20vw 0 0;}
    #proList li .pro_img {height:55vw;}
    .subpage_header .tit {font-size:5.77vw;padding:0 20%;}
    .subpage_header .tit_sub_txt {font-size: 4.62vw;}
    .subpage {padding-bottom:19.23vw;}




    [class*="icon-stack-wrap"] + .tit {margin-top:3.85vw}
    #proThumImg {max-width:192.31vw;}
    .view-wrap li {line-height:5.77vw;font-size:3.46vw;}
    .view-wrap li + li {margin-top:0.38vw;}
    .view-wrap i:before {margin-right:1.92vw;}
    #proView {margin:-30vw auto 0;
        /*padding:35vw 0.00vw 0;*/
        max-width:192.31vw;}


}